In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
np.__version__

'1.23.2'

In [3]:
## Read data
df = pd.read_csv('data.csv')

df.shape

(11914, 16)

In [6]:
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [7]:
## Most popular car manufacturer
df.Make.value_counts()

Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
Alfa Romeo          5
McLaren             5
Spyker              3
Genesis             3
Bugatti             3
Name: Make, dtype: int64

In [9]:
## What's the number of unique Audi car models in the dataset?
df[df['Make']=='Audi'].nunique()

Make                   1
Model                 34
Year                  20
Engine Fuel Type       5
Engine HP             40
Engine Cylinders       6
Transmission Type      3
Driven_Wheels          2
Number of Doors        2
Market Category       15
Vehicle Size           3
Vehicle Style          6
highway MPG           23
city mpg              18
Popularity             1
MSRP                 234
dtype: int64

In [10]:
## How many columns in the dataset have missing values?
df.isna().any().sum()

5

In [19]:
## Find the median value of "Engine Cylinders" column in the dataset
print('The median of Engine Cylinders is: ',df['Engine Cylinders'].median())
## Most Frecuent value 
print('Most Frecuent value of Engine Cylinders',df['Engine Cylinders'].value_counts().iloc[0])
##Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
df['Engine Cylinders'].fillna(df['Engine Cylinders'].value_counts().iloc[0],inplace=True)
## Calculate the media again
print('The new median of Engine Cylinders is: ',df['Engine Cylinders'].median())

The median of Engine Cylinders is:  6.0
Most Frecuent value of Engine Cylinders 4752
The new median of Engine Cylinders is:  6.0

In [23]:
## Select all the "Lotus" cars from the dataset.
df_lotus = df[df['Make']=='Lotus']
## Select only columns "Engine HP", "Engine Cylinders".
df_lotus[['Engine HP', 'Engine Cylinders']]
##Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
df_lotus[['Engine HP', 'Engine Cylinders']].drop_duplicates()
## Get the underlying NumPy array. Let's call it X.
X = df_lotus[['Engine HP', 'Engine Cylinders']].drop_duplicates().values

In [25]:
tranpose = X.T
## Compute matrix-matrix multiplication between the transpose of X and X. To get the inverse, use np.linalg.inv
XTX = tranpose.dot(X)
inverse = np.linalg.inv(XTX)

In [26]:
## Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])
## Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
w = inverse.dot(tranpose).dot(y)

In [27]:
w

array([  4.59494481, -63.56432501])